@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
:root{
 
    --blå: #23377F; 
    --rød: #E31E24;
    --cream: #EEEDE8; 
    --tekstFarve: #303030;
 
    
}
*{
    font-family: 'Lato';
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
 
/* mobile header */
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blå);
    padding: 16px;
}
 
nav ul{
    display: none;
}
 
.login{
   display: none; 
}
 
.logo{
    height: 56px;
    width: 240px;
}
 
svg{
    fill: white;
    
} 
 
main{
    margin: 24px 32px;
}
body{
    background-color: var(--cream);
}

/* mobile footer */
footer{
    background-color: var(--blå);
    color: white;
    display: flex;
    padding: 24px 56px;
    flex-direction: column;
    margin: auto;
     
}
footer a{
    text-decoration: none;
    color: white;
}
footer svg{
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 0px;
}
     

     
.kontaktInfo h3{
    margin-bottom: 20px;
}
     
.kontaktInfo p:last-of-type{
    margin-bottom: 20px;
}
     
footer p{
    line-height: 27px;
}
     
.footerNav h3{
    margin-bottom: 10px;
}
     
.footerNav p:last-of-type{
    margin-bottom: 10px; 
}
     
.medierLogo{
    margin-bottom: 10px; 
}


/* --------------Master------------- */


.card{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Brian.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card2{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Allan.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card3{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Jan.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card4{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sempai_Richo.jpg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card5{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Henrik.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card6{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sempai_Jesper.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}

/* ---indhold på kortene---- */

.cardContent{
    padding: 30px;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsla(0, 0%, 0%, 0.3) 20%,
        hsl(0 0% 0% / 1));
    transform: translateY(70%);
    min-height: 20rem;
    max-height: 12rem;
    
}

.cardTitle{
    position: relative;
    width: fit-content;
    color: white;
}
.cardText{
    color: white;
    line-height: 2;
}

/* --hover starter-- */

.card:hover .cardTitle::after{
    transform: scaleX(1)
}
.card:hover .cardContent{
    transform: translateY(0);
}

/* ----2---- */

.card2:hover .cardTitle::after{
    transform: scaleX(1)
}
.card2:hover .cardContent{
    transform: translateY(0);
}
/* ---3---- */

.card3:hover .cardTitle::after{
    transform: scaleX(1)
}
.card3:hover .cardContent{
    transform: translateY(0);
}
/* ---4---- */
.cardContent4{
    padding: 30px;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsla(0, 0%, 0%, 0.3) 20%,
        hsl(0 0% 0% / 1));
    transform: translateY(70%);
    min-height: 20rem;
    max-height: 12rem;
}

.card4:hover .cardTitle::after{
    transform: scaleX(1)
}
.card4:hover .cardContent4{
    transform: translateY(0);
}
/* ---5---- */

.card5:hover .cardTitle::after{
    transform: scaleX(1)
}
.card5:hover .cardContent{
    transform: translateY(0);
}
/* ---6--- */

.card6:hover .cardTitle::after{
    transform: scaleX(1)
}
.card6:hover .cardContent{
    transform: translateY(0);
}

.bestyrelse{
    margin-top: 40px;
    margin-bottom: 40px;
}
.bestyrelsetitle{
    text-align: center;
    margin: 40px 0 10px 0;
}
.bestyrelseInfo{
    line-height: 42px;
}
.tlfnr{
    text-decoration: none;
}
.contaktformand{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 24px;
    background-color: white;
    padding: 50px 30px;
    line-height: 24px;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(40, 40, 40, 0.188);
    max-width: 40rem;
}
.contaktTitle{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
}
.formand{
    display: block;
    margin: 20px auto 0 auto;
    width: 50%;
    width: 12rem;
}

/* -------media queries------- */
@media screen and (min-width:700px){
    .contianer2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card, .card2, .card3, .card4, .card5, .card6{
        margin: 16px 24px 16px 24px;
    }
    .bestyrelse{
        padding-left: 24px;
        margin-top: 0;
    }
    .bestyrelsetitle{
        text-align: left;
        margin: 30px 0 30px 0;
    }
    .contianer3{
        display: grid;
        grid-template-columns: 1fr 1.5fr;   
    }
    .contaktTekst, .contaktTitle{
        text-align: left;
    }
    .contianer4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .formand{
        margin-top: 0;
        
    }
        
}

@media screen and (max-width:699px){
    .formand{
        margin-bottom: 20px;
    }
}



/* --------------------------------- */
