@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
 
:root{
 

    --hvidBælte: hsl(0, 0%, 100%);
    --rødBælte: hsl(0, 100%, 36%);
    --blåBælte: hsl(226, 100%, 38%);
    --gulBælte:  hsl(51, 100%, 50%);
    --grønBælte: hsl(115, 83%, 33%);
    --brunBælte: hsl(35, 85%, 33%);
    --sortBælte:  hsl(0, 0%, 0%);
    


    --blå: #23377F; 
    --rød: #E31E24;
    --cream: #EEEDE8; 
    --tekstFarve: #303030;
    --lyseBlå: #DBDFEA;
    --lilleTekst: #707070;
    background-color: var(--cream);

}
*{
    font-family: 'Lato';
    margin: 0;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

body{
    background-color: var(--cream);
}
 
/* mobile header */
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blå);
    padding: 16px;
}
 
nav ul{
    display: none;
}
 
.login{
   display: none; 
}
 
.logo{
  height: 36px;
    width: 150px;
}
 

.burger{
    height: 40px;
    width: 40px; 
}

svg{
    fill: white;
    
} 

body{
    background-color: var(--cream);
}

 
main{
    margin: 16px 32px;
}



/* mobile footer */
footer{
    background-color: var(--blå);
    color: white;
    display: flex;
    padding: 24px 56px;
    flex-direction: column;
    margin: auto;
     
}
footer a{
    text-decoration: none;
    color: white;
}
footer svg{
    height: 30px;
    width: 30px;
    margin: 10px 20px 10px 0px;
}
     

footer img{
    width: 250px;   
}

     
.kontaktInfo h3{
    margin-bottom: 20px;
}
     
.kontaktInfo p:last-of-type{
    margin-bottom: 20px;
}
     
footer p{
    line-height: 27px;
}
     
.footerNav h3{
    margin-bottom: 10px;
}
     
.footerNav p:last-of-type{
    margin-bottom: 10px; 
}
     
.medierLogo{
    margin-bottom: 10px; 
}


/* media queries */
@media screen and (min-width: 850px){
    
    /* Desktop footer */
    footer{
        display: flex;
        padding: 24px 56px;
        justify-content: space-evenly;
        flex-direction: row;
    }
    footer a{
        text-decoration: none;
        color: white;
    }
    footer svg{
        height: 50px;
        width: 50px;
        margin: 10px 20px 10px 0px;
    }
    
    svg{
        fill: white;
        height: 30px;
        width: 30px;
    }
    
        .button{
            margin-right: 70%;
        }
    }

@media screen and (min-width: 1200px) {
    .japansk_have{
        width: 450px;
        height: 300px;
        margin: 10px;
        float: right;
    }
}

/* Desktop header */
@media screen and (min-width: 1230px){
.logo{
    height: 56px;
    width: 240px;
    margin-right: 44px;
}
nav{
    background-color: var(--blå);
    display: flex;
    padding: 16px 56px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav a{
    margin: 0px 32px;
    text-decoration: none;
    color: white;

    /*paddingen her gør linket større så man ikke skal ramme præcis på teksen*/
    padding: 10px 10px;
}
/* ændre på teksen i nav når man hover undtagen på den side man allerede er på*/
nav a:hover:not(.current){
    color: rgba(200, 200, 200, 90);
}
.current{
    border-bottom: 2px solid white;
}


.burger{
    display: none;
}

 
.login{
display: flex; 
}

}

/* Indmeldelse og priser */
.indmeldelse_information, .udstyr, .betaling, .tilmelding{
    margin: 24px 32px;
}
 
.indmeldelse_information h1{



/* --------------Master------------- */


.card{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Brian.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card2{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Allan.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card3{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sensei_Jan.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card4{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sempai_Richo.jpg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card5{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Henrik.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}
.card6{
    overflow: hidden;
    background-image: url(/assets/img/instruktører/Sempai_Jesper.jpeg);
    background-size: cover;
    transition: 200ms ease;
    opacity: 0.9;
    max-width: 32rem;
    overflow: hidden;
    margin: 16px 32px 16px 32px;
}

/* ---indhold på kortene---- */

.cardContent{
    padding: 30px;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsla(0, 0%, 0%, 0.3) 20%,
        hsl(0 0% 0% / 1));
    transform: translateY(70%);
    min-height: 20rem;
    max-height: 12rem;
    
}

.cardTitle{
    position: relative;
    width: fit-content;
    color: white;
}
.cardText{
    color: white;
    line-height: 2;
}

/* --hover starter-- */

.card:hover .cardTitle::after{
    transform: scaleX(1)
}
.card:hover .cardContent{
    transform: translateY(0);
}

/* ----2---- */

.card2:hover .cardTitle::after{
    transform: scaleX(1)
}
.card2:hover .cardContent{
    transform: translateY(0);
}
/* ---3---- */

.card3:hover .cardTitle::after{
    transform: scaleX(1)
}
.card3:hover .cardContent{
    transform: translateY(0);
}
/* ---4---- */
.cardContent4{
    padding: 30px;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsla(0, 0%, 0%, 0.3) 20%,
        hsl(0 0% 0% / 1));
    transform: translateY(70%);
    min-height: 20rem;
    max-height: 12rem;
}

.card4:hover .cardTitle::after{
    transform: scaleX(1)
}
.card4:hover .cardContent4{
    transform: translateY(0);
}
/* ---5---- */

.card5:hover .cardTitle::after{
    transform: scaleX(1)
}
.card5:hover .cardContent{
    transform: translateY(0);
}
/* ---6--- */

.card6:hover .cardTitle::after{
    transform: scaleX(1)
}
.card6:hover .cardContent{
    transform: translateY(0);
}

.bestyrelse{
    margin-top: 40px;
    margin-bottom: 40px;
}
.bestyrelsetitle{
    text-align: center;
    margin: 40px 0 10px 0;
}
.bestyrelseInfo{
    line-height: 42px;
}
.tlfnr{
    text-decoration: none;
}
.contaktformand{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 24px;
    background-color: white;
    padding: 50px 30px;
    line-height: 24px;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(40, 40, 40, 0.188);
    max-width: 40rem;
}
.contaktTitle{
    text-align: center;
    margin-bottom: 25px;
    font-weight: 400;
}
.formand{
    display: block;
    margin: 20px auto 0 auto;
    width: 50%;
    width: 12rem;
}

/* -------media queries------- */
@media screen and (min-width:700px){
    .contianer2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card, .card2, .card3, .card4, .card5, .card6{
        margin: 16px 24px 16px 24px;
    }
    .bestyrelse{
        padding-left: 24px;
        margin-top: 0;
    }
    .bestyrelsetitle{
        text-align: left;
        margin: 30px 0 30px 0;
    }
    .contianer3{
        display: grid;
        grid-template-columns: 1fr 1.5fr;   
    }
    .contaktTekst, .contaktTitle{
        text-align: left;
    }
    .contianer4{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .formand{
        margin-top: 0;
        
    }
        
}

@media screen and (max-width:699px){
    .formand{
        margin-bottom: 20px;
    }
}



/* --------------------------------- */

/* Nathalia */
/* Om Ashihara */
.om_ashihara{
    margin: 24px 32px;
}

.japansk_have{
    width: 100%;
    border-radius: 2px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 20px;
}

.om_ashihara h1{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

.om_ashihara p{
    margin-bottom: 20px;
}

.om_ashihara p, .bæltegrader p{
    line-height: 27px;
}

.button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: var(--rød);
    padding: 10px;
    border-radius: 30px;
    padding-inline: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Ashihara citat */
.kancho_ashihara{
    width: 200px;
    border-radius: 2px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.ashihara_citat{
    background-image: linear-gradient(white, hsl(227, 57%, 32%));
    padding: 30px;
}

.ashihara_citat p{
    color: var(--blå);
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.ashihara_citat p:nth-child(2){
    margin-top: 30px;
    margin-bottom: 15px;
}

/* Bæltegrader */
.bæltegrader{
    margin: 24px 32px;
}

.bæltegrader h2{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 900;
}

 
.indmeldelse_information p:not(.indmeldelse_information p:nth-child(3)){
    margin-bottom: 20px;
}

p{
    line-height: 27px;
}

.indmeldelse_information p:nth-child(4){
    font-style: italic;
    font-weight: 300;
}

/* priser */
table {
    margin-right: 20px;
    margin-left: 20px;
    border-collapse: collapse;
  }

  td {
    height: 70px;
    vertical-align: top;
  }
  
  th,td{
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(odd) {
    background-color: var(--lyseBlå);
}

tr:nth-child(2) {
    background-color: white;
}

  .priser p:nth-child(2){
    margin-left: 30px;
    margin-right: 30px;
    font-style: italic;
    font-weight: 300;
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .priser p:nth-child(3){
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 25px;
  }
/* Udstyr og betaling*/
.udstyr h2, .betaling h2, .tilmelding h2{
    font-weight: 500;
    font-size: 1.5rem;
}

.udstyr p:nth-child(2){
    margin-bottom: 10px;
    font-style: italic;
}

.udstyr p:nth-child(4){
    margin-bottom: 10px;
}

.betaling p:nth-child(2){
    margin-bottom: 10px;
}

.betaling p:nth-child(4){
    margin-bottom: 10px;
}

 /* Tilmelding */
.tilmelding h2{
    margin-bottom: 10px;
}

 input {
    width: 100%;
    border: none;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
}

  form input:nth-child(7){
    padding-bottom: 50px;
  }

  ::placeholder{
    font-size: 1rem;
  }

.tilmelding_button{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: var(--rød);
    padding: 10px;
    border-radius: 30px;
    padding-inline: 30px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 70px;
    margin-left: 70px;
}

/* media queries */
/* Priser og indmeldelse */
@media screen and (min-width: 450px){
    .tilmelding_button{
        margin-right: 190px;
        margin-left: 0px;
    }

    input {
        width: 60%;
    }
}

@media screen and (min-width: 600px){
    .tilmelding_button{
        margin-right: 350px;
        margin-left: 0px;
    }

    input {
        width: 50%;
    }
}

@media screen and (min-width: 700px){
    .tilmelding_button{
        margin-right: 450px;
        margin-left: 0px;
    }

    input {
        width: 50%;
    }
}

@media screen and (min-width: 800px){
    .indmeldelse_information, .priser {
        margin: 44px 20%;
    }

    table {
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        
      }
    
      .indmeldelse_og_information_om_udstyr_og_betaling{
        display: grid;
        grid-template-columns: 1fr 400px 400px 1fr;
        grid-template-rows: 250px 300px;
        gap: 10px;
      }

      .udstyr{
        grid-column: 2/3;
      }

      .betaling{
        grid-column: 2/3;
        grid-row: 2;
      }

      input {
        padding: 20px;
        width: 100%;
    }
    
      form input:nth-child(7){
        padding-bottom: 55px;
      }

      .tilmelding_button{
        margin-right: 70px;
        margin-left: 70px;
    }

}


.bæltegrader h3{
    margin-top: 10px;
}


.bæltegrader p{
    margin-bottom: 50px;
}

/* hvid bælte */
.hvid_bælte{
    background-color: white;
    padding: 35px;
}

/* rød bælte */
.rød_bælte{
    background-color: var(--rødBælte);
    padding-inline: 65px;
    margin-right: 30px;
}
.rød_bælte_med_blå_stribe{
    background-color: var(--rødBælte);
    padding-inline: 60px;
}

.blå_stribe{
    background-color: var(--blåBælte);
    width: 10px;
    height: 65px;
    margin-left: 400%;
} 

/* blå bælte */
.blå_bælte{
    background-color: var(--blåBælte);
    padding-inline: 65px;
    margin-right: 30px;
}

.blå_bælte_med_gul_stribe{
    background-color: var(--blåBælte);
    padding-inline: 60px;
}

.gul_stribe{
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
    margin-left: 400%;
}

/* gul bælte */
.gul_bælte{
    background-color: var(--gulBælte);
    padding-inline: 65px;
    margin-right: 30px;
}
.gul_bælte_med_grøn_stribe{
    background-color: var(--gulBælte);
    padding-inline: 60px;
}

.grøn_stribe{
    background-color: var(--grønBælte);
    width: 10px;
    height: 65px;
    margin-left: 400%;
}

/* grøn bælte */
.grøn_bælte{
    background-color: var(--grønBælte);
    padding-inline: 65px;
    margin-right: 30px;
}
.grøn_bælte_med_brun_stribe{
    background-color: var(--grønBælte);
    padding-inline: 60px;
}

.brun_stribe{
    background-color: var(--brunBælte);
    width: 10px;
    height: 65px;
    margin-left: 400%;
}

/* brun bælte */
.brun_bælte{
    background-color: var(--brunBælte);
    padding-inline: 65px;
    margin-right: 30px;
}
.brun_bælte_med_sort_stribe{
    background-color: var(--brunBælte);
    padding-inline: 60px;
}

.sort_stribe{
    background-color: var(--sortBælte);
    width: 10px;
    height: 65px;
    margin-left: 400%;
}

/* sort bælte */
 .sort_bælte_med_gul_stribe{
    background-color: var(--sortBælte);
    padding-inline: 35px;
    margin-right: 20px;
}
.sort_bælte_med_gul_stribe div{
    background-color: var(--gulBælte);
    width: 7px;
    height: 65px;
}

.sort_bælte_med_to_gule_striber{
    background-color: var(--sortBælte);
    padding-inline: 35px;
    margin-right: 20px;
}

.sort_bælte_med_to_gule_striber div:nth-child(1){
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
}


.sort_bælte_med_to_gule_striber div:nth-child(2){
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
    margin-left: 30%;
}

.sort_bælte_med_tre_gule_striber{
    background-color: var(--sortBælte);
    padding-inline: 30px;
}


.sort_bælte_med_tre_gule_striber div:nth-child(1){
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
}

.sort_bælte_med_tre_gule_striber div:nth-child(2){
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
    margin-left: 20%;
}

.sort_bælte_med_tre_gule_striber div:nth-child(3){
    background-color: var(--gulBælte);
    width: 10px;
    height: 65px;
    margin-left: 20%;
}

.bælter, .sort_bælte_med_to_gule_striber, .sort_bælte_med_tre_gule_striber{
    display: flex;
    direction: row;
}

/* Media queries */
@media screen and (min-width: 400px){
    .hvid_bælte{
        margin-right: 40%;
    }
}

@media screen and (min-width: 600px){
    .button{
        margin-right: 20%;
        margin-left: 20%;
    }

    .hvid_bælte{
        margin-right: 60%;
    }
}


@media screen and (min-width: 850px){
    .bæltegrader, .om_ashihara{
        margin: 44px 20%;
    }
    
    .om_ashihara p{
        font-size: 1rem;
    }    
    
    .button{
        text-decoration: none;
        color: white;
        font-weight: 600;
        background-color: var(--rød);
        padding: 10px;
        border-radius: 30px;
        padding-inline: 30px;
        text-align: center;
        margin-bottom: 100px;
        margin-right: 50%;
        margin-left: 0%;
        
    }
    
    .ashihara_citat{
        display: flex;
        flex-direction: row; 
        align-items: center;
        background-image: linear-gradient(to right, white, hsl(227, 57%, 32%));
    }
    
    .citat{
        margin-left: 20%;
    }
    
    .bæltegrader h2{
        margin-top: 80px;
    }
    
    .hvid_bælte{
        margin-right: 70%;
    }
    
    .bæltegrader p:not(#bæltegrader_intro){
        margin-right: 200px;
    }
    }

    @media screen and (min-width: 1050px){
        .button{
            text-decoration: none;
            color: white;
            font-weight: 600;
            background-color: var(--rød);
            padding: 10px;
            border-radius: 30px;
            padding-inline: 30px;
            text-align: center;
            margin-bottom: 100px;
            margin-right: 77%;
            margin-left: 0%;
        }

        .bæltegrader p:not(#bæltegrader_intro){
            margin-right: 300px;
        }
    }

    @media screen and (min-width: 850px){
    
        /* Desktop footer */
        footer{
            display: flex;
            padding: 24px 56px;
            justify-content: space-evenly;
            flex-direction: row;
        }
        footer a{
            text-decoration: none;
            color: white;
        }
        footer svg{
            height: 50px;
            width: 50px;
            margin: 10px 20px 10px 0px;
        }
        
        svg{
            fill: white;
            height: 30px;
            width: 30px;
        }
        
            .button{
                margin-right: 70%;
            }
        }
    
    @media screen and (min-width: 1200px) {
        .japansk_have{
            width: 450px;
            height: 300px;
            margin: 10px;
            float: right;
        }
    }
        
    

    /* Desktop header */
    @media screen and (min-width: 1230px){
    .logo{
        height: 56px;
        width: 240px;
        margin-right: 44px;
    }
    nav{
        background-color: var(--blå);
        display: flex;
        padding: 16px 56px;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav a{
        margin: 0px 32px;
        text-decoration: none;
        color: white;
    
        /*paddingen her gør linket større så man ikke skal ramme præcis på teksen*/
        padding: 10px 10px;
    }
    /* ændre på teksen i nav når man hover undtagen på den side man allerede er på*/
    nav a:hover:not(.current){
        color: rgba(200, 200, 200, 90);
    }
    .current{
        border-bottom: 2px solid white;
    }
    
    
    .burger{
        display: none;
    }
    
     
    .login{
    display: flex; 
    }
    
}

h1{
    font-size: 28px;
    text-align: center;
    padding-top: 28px;
    color: white;
}
h3{
    padding-top: 16px;
}

/* ------------------ Malou ----------------*/
.hero{
    background-image: url(../img/forside/Gruppe_billede_2018.jpg);
    background-size: cover;
    min-width: 100%;
    min-height: 200px;
}

.introTekst{
    font-size: 16px;
    color: var(--tekstFarve);
}

.ikonMaalseatninger{
    width: 40px;
    height: 30px;
    margin-right: 8px;
}
.maalseatninger{
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
}
.column1 div, .column2 div{
    display: flex;
    align-items: center;
    padding: 8px 16px 8px 0px;
}


.maalseatninger span{
    color: var(--lilleTekst);
    font-size: 12px;
    
}
.maalseatningerBtn{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: var(--rød);
    border: none;
    border-radius: 50px;
    color: white;
    min-width: 40%;
    padding: 8px 12px;
}

#voksen{
    border-bottom: 2px solid var(--blå);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
}
#boern{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 16px;
}
#boern span{
    font-size: 12px;
    display: block;
}

.tiderSkema{
    background-color: white;
    margin: 12px 0px;
    padding: 0px 8px;
    box-shadow: 3px 3px 5px #aaaaaa;
}
.tiderSkema p{
    margin: 8px 0px;
}


.nyhed1{
   
    background-image: url(../img/forside/DAN_graduering_i_DAO.JPG);

    min-height: 164px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 24px 0px;
    position: relative;
    box-shadow: inset 0 -60px 10px -10px rgba(0, 0, 0, 0.6);

}
.nyhed2{
    background-image: url(../img/forside/Opvisning_i_Hadsund.JPG);
    min-height: 164px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 24px 0px;
    position: relative;
    box-shadow: inset 0 -60px 10px -10px rgba(0, 0, 0, 0.6);
}
.nyhed3{
    background-image: url(../img/forside/Rekordstor_graduering.JPG);
    min-height: 164px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 24px 0px;
    position: relative;
    box-shadow: inset 0 -60px 10px -10px rgba(0, 0, 0, 0.6);
}
#nyhederTekst{
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
}
#nyhedTag{
    background-color: var(--blå);
    color: white;
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    border-radius: 50px;
    font-size: 12px;
}





.outro{
    

    display: flex;
    flex-direction: column;
    align-items: center;

}
.outroImg{
    background-image: url(../img/forside/Gruppe_billede_2019.jpg);

    background-size: cover;
    margin: 0px -32px;
    min-width: 100%;
    min-height: 200px;
}
.outroTekst{
    background-color: white;
    margin: -32px 32px 16px 32px;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding: 32px 32px 32px 32px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    color: var(--lilleTekst);
}
#outroBtn{
   margin-top: -32px;
   box-shadow: 3px 3px 5px #aaaaaa;
}

/*---------------- media queries-------------------*/
@media screen and (min-width: 600px){
    .hero{
        min-height: 300px;
    }
   
    .introTekst{
        margin: 24px 42px;
    }
    
   
    .maalseatningerContainer{
        display: flex;
        justify-content: space-between;
    }
    .column1{
        
        flex-direction: column;
        
    }
    .column2{

        flex-direction: column;
        
    }

    .nyhed1, .nyhed2, .nyhed3{
        min-height: 200px;
    }
    
}

@media screen and (min-width: 850px){
    main{
        margin: 32px 64px;
    }
   .hero{
    display: none;
   }
   .introTekst {
    display: none;
   }
   
   .heroDesktop{
    display: flex;
    flex-direction: row;
    margin: 32px 64px;
   }
   .heroImgDesktop{
    max-width: 50%;
   }
   h1{
    color: var(--tekstFarve);
    padding: 0px 0px 16px 0px;
   }
   .introDesktop{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   .introDesktop p{
    line-height: 1.5;
   }

   .nyheder{
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 32px 0px 32px 0px;
   }
   .nyhed1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
   }
   .nyhed1, .nyhed2, .nyhed3{
    margin: unset;
   }

   .outroImg{
    margin: 0px -64px;
    min-height: 300px;
   }
}

@media screen and (max-width: 850px){
.heroDesktop{
    display: none;
}
.heroImgDesktop{
    display: none;
}

}

@media screen and (min-width: 1200px){
    .container2{
        display: flex;
        justify-content: space-between;
    }
    .treaningstider{
        min-width: 50%;
    }
    .maalseatninger{
        justify-content: space-between;
    }
    .outroTekst{
        max-width: 50%;
    }
}

/* ----------------------------------------------*/
/* -----------------------------------------------*/

